$select: ".banner" !default;

// config
@use "../config/colors";
@use "../config/fonts";
@use "../config/queries";

// components
@use "../../Shared/css/template/dtm/components/banner";

// utils
@use "../../Shared/css/template/base/utils/unit-conversion" as convert;

@mixin base {
    @include banner.model($select, colors.get(primary));

    #{$select} {
        margin: 0;

        @content;
    }
}

@mixin promo-code {
    #{$select} {
        &--promo-code {
            display: block;
            font-size: #{convert.to-rem(30)};

            @media all and (max-width: #{convert.to-rem(1250, $media: true)}) {
                font-size: 1.5rem;
                font-size: clamp(1.5rem, 2vw, #{convert.to-rem(30)});
            }

            font-weight: 400;

            #{$select} {
                &__promo {
                    font-weight: 600;

                    @media all and (max-width: queries.get(promo-banner-wrap)) {
                        display: block;
                    }
                }

                &__code {
                    font-weight: 700;
                }
            }

            @content;
        }
    }
}
