@use "sass:color";

$select: ".card" !default;

// config
@use "../config/fonts";
@use "../config/colors";
@use "../config/queries";

// abstracts
@use "../../Shared/css/template/base/abstracts/copy";

@mixin base {
    #{$select} {
        text-align: left;
        box-shadow: 0 0 0.35em hsl(0deg 0% 0% / 45%);

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        button,
        &__content {
            padding: 0.5em;
            display: block;
        }

        &__content {
            border-top: 0.1em solid
                color.adjust(colors.get(accent), $alpha: -0.7);

            @include copy.separate(1em);
        }

        @content;
    }
}
