@use "sass:map";

// utils
@use "../../Shared/css/template/base/utils/unit-conversion" as convert;

@function set($pixel) {
    @return convert.to-rem($pixel, $media: true);
}

$list: (
    max: convert.to-rem(1920, $media: true),
    large: convert.to-rem(1600, $media: true),
    desktop: convert.to-rem(1350, $media: true),
    nav: convert.to-rem(750, $media: true),
    nav-max: convert.to-rem(749, $media: true),
    mobile: 750px,
    mobile-narrow: convert.to-rem(300, $media: true),
    hero-lg: convert.to-rem(1000, $media: true),
    hero-md: convert.to-rem(700, $media: true),
    hero-sm: convert.to-rem(400, $media: true),
    promo-banner-wrap: set(545)
);

@function get($name) {
    @return map.get($list, $name);
}

@function em($pixel) {
    @return #{convert.to-em($pixel)};
}

@function rem($pixel) {
    @return #{convert.to-rem($pixel)};
}
